<app-header title="Detalles de Ubicación"></app-header>

<!-- Visualizador de imagen (fuera de ion content) -->
<app-image-visualizer
  *ngIf="showImage"
  [imageUrl]="location?.imageUrl || '' "
  (close)="showImage = false"
></app-image-visualizer>

<ion-content>
  <!-- Mostrar spinner si está cargando -->
  <ng-container *ngIf="isLoading; else loadedContent">
    <div class="spinner-container">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>
  </ng-container>

  <ng-template #loadedContent>
    <div *ngIf="location">
      <!-- Imagen principal destacada -->
      <div class="main-image-container">
        <ion-img [src]="location.imageUrl" alt="{{ location.name }}"></ion-img>

        <!-- Botón Back arriba a la izquierda -->
        <div class="back-button">
          <app-custom-back-button 
            styleType="filled" 
            size="large"
          ></app-custom-back-button>
        </div>

        <!-- Botón para abrir visor de imagen -->
        <ion-button size="large" color="light" class="image-viewer-button" (click)="showImage = true">
          <ion-icon size="large" slot="icon-only" name="scan-outline"></ion-icon>
        </ion-button>

      </div>
    </div>

    <div class="content-container">
      <div *ngIf="isLoading">Cargando location...</div>

      <div *ngIf="errorMsg">
        <p style="color: red;">{{ errorMsg }}</p>
      </div>

      <div *ngIf="!isLoading && !errorMsg && location">
        <!-- Información general -->
        <div class="location-summary" style="display: flex; align-items: center; justify-content: space-between;">
          <div style="flex-grow: 1;">
            <h1 class="location-name" style="margin: 0;">{{ location.name }}</h1>
            <p class="location-address" style="margin: 0;">{{ location.address }}</p>
          </div>

          <ion-button
            *ngIf="isLoggedIn"
            id="options-button"
            (click)="presentActionSheet()"
            color="light"
            shape="round"
            aria-haspopup="true"
            aria-controls="popover"
            aria-expanded="false"
          >
            <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>
        </div>

        <div class="rating-summary">
          <app-rating-badge
            [rating]="location.rating"
            [size]="'large'"
            class="rating-badge"
          ></app-rating-badge>
          <div class="ion-margin-start rating-details">
            <div class="rating-message"><strong>{{ ratingMessage }}</strong></div>
            <div class="reviews-count">{{ location.numReviews }} reseñas</div>
          </div>
        </div>


        <!-- Mapa integrado -->
        <div class="map-section">
          <h2>Ubicación en el mapa</h2>
          <div class="map-container">
            <iframe
              [src]="googleMapsEmbedUrl"
              frameborder="0"
              allowfullscreen
              loading="lazy"
            ></iframe>
          </div>
        </div>

        <br />
        <div class="description-section">
          <h2>Descripción</h2>
          <div class="ion-margin-vertical">
            <p>{{ location.description || 'No hay descripción disponible.' }}</p>
          </div>
        </div>

        <br />
        <div class="date-section">
          <h2>Fecha de creación</h2>
          <div class="ion-margin-vertical">
            <p class="ion-margin-vertical date-text">
              <ion-icon slot="start" size="large" class="ion-margin-end" name="calendar-outline"></ion-icon>
              <i>{{ location.createdOn | date:'yyyy-MM-dd HH:mm' }}</i>
            </p>
          </div>
        </div>

        <br />
        <div class="tags-section">
          <h2>Etiquetas</h2>
          <div class="ion-margin-vertical">
            <div *ngIf="location.tags && location.tags.length > 0; else noTags">
              <div class="ion-margin-vertical">
                <ion-row class="ion-justify-content-start">
                  <ion-col size="auto" *ngFor="let tag of location.tags">
                    <ion-chip color="tertiary">
                      <ion-label>{{ tag }}</ion-label>
                    </ion-chip>
                  </ion-col>
                </ion-row>
              </div>
            </div>
            <ng-template #noTags>
              <p>No hay etiquetas disponibles.</p>
            </ng-template>
          </div>
        </div>

        <br />
        <div id="comments-block">
          <div id="add-comment" class="ion-padding-vertical">
            <h2>Añadir comentario</h2>
            <app-comment-form-card 
              [resetTrigger]="resetReviewForm"
              (submitReview)="onReviewSubmit($event)">
            </app-comment-form-card>
          </div>
          <div id="comments-list" class="ion-margin-vertical">
            <h2>Comentarios</h2>

            <!-- Si ya no se cargan y no hay reviews -->
            <div *ngIf="!reviewsLoading && reviews.length === 0">
              <p class="ion-padding">No hay comentarios todavía.</p>
            </div>

            <!-- Lista de reviews -->
            <div *ngIf="reviews.length > 0">
              <div *ngFor="let review of reviews">
                <div class="ion-margin-top">
                  <app-comment-card
                  [review]="review"
                  [isLoggedIn]="isLoggedIn"
                  (deleteReview)="alertDeleteReview($event)"
                  ></app-comment-card>
                </div>
              </div>
            </div>

            <!-- Mientras se cargan -->
            <div *ngIf="reviewsLoading && reviews.length === 0">
              <p>Cargando comentarios...</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Infinite Scroll -->
      <ion-infinite-scroll 
        (ionInfinite)="loadMore($event)"
        [disabled]="reviewsFinished"
      >
        <ion-infinite-scroll-content 
          loadingSpinner="dots"
        ></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ng-template>
</ion-content>