// Estilos de la imagen

.main-image-container {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  overflow: hidden;
  max-height: 300px; // evita que se haga enorme en pantallas grandes

    @media (max-width: 650px) {
      max-height: none; // en móviles, que el aspect ratio mande
    }
  
    ion-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.2s ease-out;
    }
  
    // Degradado difuminado abajo
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 80px;
      background: linear-gradient(
        to bottom,
        transparent 0%,
        var(--ion-card-background) 100%
      );
      z-index: 2;
      pointer-events: none;
    }
  
    .back-button {
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 3;
      transition: transform 0.2s ease;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  
    .image-viewer-button {
      position: absolute;
      bottom: 16px;
      right: 16px;
      z-index: 3;
      transition: transform 0.2s ease;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  }

// Estilos del contenido

.location-details-content {
  background: var(--ion-card-background);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-top: -30px;
  padding: 16px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
  position: relative;
  z-index: 2;
}

.location-summary {
  padding-bottom: 1rem;
}

.location-name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.location-address {
  font-size: 1rem;
  color: #666;
}

.rating-summary {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.rating-score {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  margin-right: 1rem;
  color: #fff;
}

.rating-zero {
  background-color: #999;
}

.rating-bad {
  background-color: #e74c3c;
}

.rating-average {
  background-color: #f39c12;
}

.rating-good {
  background-color: #27ae60;
}

.rating-details {
  display: flex;
  flex-direction: column;
}

.reviews-count {
  font-size: 0.85rem;
  color: #888;
}

.map-section {
  padding-top: 1rem;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.map-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 20px;
}

.more-info-section {
  padding-top: 1rem;
}

.more-info-section h2 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.date-text {
  display: flex;
  align-items: center; /* centra verticalmente icono y texto */
  gap: 0.5rem; /* opcional, para espacio entre icono y texto */
}

.spinner-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}