.custom-accordion {
  background: var(--ion-color-light);
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  border: 1px solid #e0e0e0;

  // ion-item {
  //   --border-radius: 12px 12px 0 0;
  //   font-weight: 500;
  // }

  [slot="content"] {
    padding: 12px;
    background: var(--ion-color-light);
    border-top: 1px solid #ddd;
  }
}

.filters-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  
    .filter-item {
      flex: 1 1 150px;
    }
  }
  
  .results-container {
    min-height: 200px;
    background-color: transparent; // color de fondo suave
    padding: 1rem;      }
  
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  
    .page-info {
      font-weight: bold;
      font-size: 1rem;
      line-height: 32px;
    }
  }

  