<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="locations">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>Explorar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="locations-add">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Añadir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fsq-locations">
      <ion-icon name="cloud-upload-outline"></ion-icon>
      <ion-label>Importar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
