<app-header title="Detalles de Ubicación"></app-header>

<ion-content class="ion-padding">
  <div class="content-container">
    <app-custom-back-button styleType="filled" size="large"></app-custom-back-button>

    <p>Estás viendo la location con id: {{ locationId }}</p>

    <div *ngIf="isLoading">Cargando location...</div>

    <div *ngIf="errorMsg">
      <p style="color: red;">{{ errorMsg }}</p>
    </div>

    <div *ngIf="!isLoading && !errorMsg && location">
      <img [src]="location.imageUrl" alt="Imagen de la location" width="300" height="200">

      <p><strong>Nombre:</strong> {{ location.name }}</p>
      <p><strong>Número de reviews:</strong> {{ location.numReviews }}</p>
      <p><strong>Rating:</strong> {{ location.rating }}</p>

      <button (click)="testClick()">Haz click</button><hr>

      <button (click)="editLocation()">Editar</button><hr>
      <button (click)="deleteLocation()">Eliminar</button><hr>

      <hr>
      <div id="comments-block">
        <div id="add-comment" class="ion-padding-vertical">
          <h3>Añadir comentario</h3>
          <app-comment-form-card 
            [resetTrigger]="resetReviewForm"
            (submitReview)="onReviewSubmit($event)">
          </app-comment-form-card>
        </div>
        <div id="comments-list" class="ion-margin-vertical">
          <h3>Comentarios</h3>

          <!-- Si ya no se cargan y no hay reviews -->
          <div *ngIf="!reviewsLoading && reviews.length === 0">
            <p>No hay comentarios todavía.</p>
          </div>

          <!-- Lista de reviews -->
          <div *ngIf="reviews.length > 0">
            <div *ngFor="let review of reviews">
              <app-comment-card 
              [review]="review"
              [isLoggedIn]="isLoggedIn"
              (deleteReview)="alertDeleteReview($event)"
              ></app-comment-card>
            </div>
          </div>

          <!-- Mientras se cargan -->
          <div *ngIf="reviewsLoading && reviews.length === 0">
            <p>Cargando comentarios...</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Infinite Scroll -->
    <ion-infinite-scroll 
      (ionInfinite)="loadMore($event)"
      [disabled]="reviewsFinished"
    >
      <ion-infinite-scroll-content 
        loadingText="Please wait..." 
        loadingSpinner="bubbles"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>