ion-select {
    --highlight-color-valid: var(--ion-color-primary);
    --highlight-color: var(--ion-color-primary);
}

ion-input {
    --highlight-color-valid: var(--ion-color-primary);
    --highlight-color: var(--ion-color-primary);
}

ion-textarea {
    --highlight-color-valid: var(--ion-color-primary);
    --highlight-color: var(--ion-color-primary);
}