.custom-accordion {
  background: var(--ion-color-light);
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  border: 1px solid #e0e0e0;

  ion-item {
    --border-radius: 12px 12px 0 0;
    font-weight: 500;
  }

  [slot="content"] {
    padding: 12px;
    background-color: #fdfdfd;
    border-top: 1px solid #ddd;
  }
}


.loading-container,
.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  color: var(--ion-color-medium);
}

.loading-container ion-spinner {
  margin-bottom: 1rem;
}

.no-results ion-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.no-results p {
  font-size: 1.2rem;
  line-height: 1.5;
}


.place-item {
    --padding-start: 0;
    --inner-padding-end: 8px;
  
    ion-avatar {
      width: 48px;
      height: 48px;
      margin-inline-end: 12px;
  
      img {
        border-radius: 8px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  
    .place-label {
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      .place-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        h2 {
          font-size: 1rem;
          font-weight: 600;
          margin: 0;
        }
  
        ion-badge {
          font-size: 0.8rem;
        }
      }
  
      p {
        font-size: 0.9rem;
        margin: 4px 0 0 0;
  
        ion-icon {
          margin-right: 4px;
          vertical-align: middle;
          color: var(--ion-color-danger)
        }
  
        a {
          color: var(--ion-color-primary);
          text-decoration: none;
        }
      }
    }
  }
  