<ion-content class="landing-container">
  <ion-grid class="ion-justify-content-center">
    <ion-row class="landing-wrapper ion-align-items-center" responsive-sm>
      <!-- Columna derecha (mostrada primero en móviles) -->
      <ion-col size="12" size-md="6" class="right order-1 order-md-2">
        <img src="assets/images/logo.png" alt="Logo" class="logo" />
        <div class="auth-box ion-margin">
          <h1 class="title">¡Bienvenido a Loc8r!</h1>

          <ion-button  [routerLink]="['/home/login']" expand="block" fill="solid" class="btn-login" color="primary">
            Iniciar sesión
          </ion-button>

          <div class="separator ion-padding-vertical">
            <span>¿No tienes una cuenta?</span>
          </div>

          <ion-button [routerLink]="['/home/register']" expand="block" color="tertiary" >Registrarse</ion-button>
          <ion-button [routerLink]="['/locations']" expand="block" fill="outline" class="btn-explore">Continuar como invitado</ion-button>
        </div>
      </ion-col>

      <!-- Columna izquierda -->
      <ion-col size="12" size-md="6" class="left order-2 order-md-1">
        <ion-card class="card-left">
          <img src="assets/images/illustration.png" alt="Imagen bienvenida" class="main-img" />
          <div class="info-section ion-padding ion-color-light">
            <ion-text>
              <h2>Prepárate para:</h2>
              <ul>
                <li>Descubrir ubicaciones increíbles cerca de ti.</li>
                <li>Compartir tu opinión sobre sitios en los que hayas estado.</li>
                <li>Añadir y editar nuevos puntos de interés.</li>
              </ul>
            </ion-text>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
