<ion-header>
  <ion-toolbar>
    <ion-title>Editar Coordenadas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #coordForm="ngForm" novalidate>
    <ion-row class="ion-padding-vertical">
      <ion-col size="6">
        <ion-input
          value="number"
          label="Latitud (*)"
          label-placement="stacked"
          type="number"
          name="latitude"
          [(ngModel)]="latitude"
          (ionBlur)="updateGoogleMapsUrl()"
          required
          min=-90
          max=90
          step="any"
          fill="outline"
          #latitudeModel="ngModel"
          [class.valid]="
            latitudeModel?.valid &&
            latitudeModel?.touched
          "
          [class.invalid]="
            latitudeModel?.touched &&
            latitudeErrors
          "
        >
        </ion-input>
        <ion-note color="danger" *ngIf="latitudeModel?.touched && latitudeErrors">
          <ng-container *ngIf="latitudeErrors.required">
            La latitud es obligatoria.
          </ng-container>
          <ng-container *ngIf="latitudeErrors.invalidNumber">
            Introduce un número válido.
          </ng-container>
          <ng-container *ngIf="latitudeErrors.min">
            La latitud no puede ser menor que -90.
          </ng-container>
          <ng-container *ngIf="latitudeErrors.max">
            La latitud no puede ser mayor que 90.
          </ng-container>
        </ion-note>
      </ion-col>

      <ion-col size="6">
        <ion-input
          label="Longitud (*)"
          label-placement="stacked"
          type="number"
          name="longitude"
          [(ngModel)]="longitude"
          (ionBlur)="updateGoogleMapsUrl()"
          required
          min=-180
          max=180
          step="any"
          fill="outline"
          #longitudeModel="ngModel"
          [class.valid]="
            longitudeModel?.valid &&
            longitudeModel?.touched
          "
          [class.invalid]="
            longitudeModel?.touched &&
            longitudeErrors
          "
        >
        </ion-input>
        <ion-note color="danger" *ngIf="longitudeModel?.touched && longitudeErrors">
          <ng-container *ngIf="longitudeErrors.required">
            La longitud es obligatoria.
          </ng-container>
          <ng-container *ngIf="longitudeErrors.invalidNumber">
            Introduce un número válido.
          </ng-container>
          <ng-container *ngIf="longitudeErrors.min">
            La longitud no puede ser menor que -90.
          </ng-container>
          <ng-container *ngIf="longitudeErrors.max">
            La longitud no puede ser mayor que 90.
          </ng-container>        
        </ion-note>
      </ion-col>
    </ion-row>

    <ion-button
      expand="block"
      fill="outline"
      style="margin-top: 1em;"
      (click)="setCurrentLocation()"
      type="button"
    >
      Usar mi ubicación actual
    </ion-button>

    <ion-card *ngIf="googleMapsEmbedUrl" class="ion-margin-top">
      <iframe
        [src]="googleMapsEmbedUrl"
        width="100%"
        height="300"
        style="border:0;"
        allowfullscreen
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </ion-card>

    <ion-button
      expand="block"
      fill="solid"
      color="primary"
      class="ion-margin-top"
      [disabled]="coordForm.invalid || latitudeErrors || longitudeErrors"
      (click)="save()"
      type="submit"
    >
      Guardar
    </ion-button>
  </form>

</ion-content>
