ion-input {
    --highlight-color-valid: var(--ion-color-primary);
}
ion-input.invalid {
    --highlight-color-focused: var(--ion-color-danger);
    --highlight-color: var(--ion-color-danger);
    --border-color: var(--ion-color-danger);
}